
<link rel="stylesheet" href="/publiccdnlib/bootstrap3/css/bootstrap.min.css">
<script type="text/javascript" src="/publiccdnlib/VueJS/vue.js"></script>
<script type="text/javascript" src="/publiccdnlib/jQuery/jquery-3.2.1.slim.min.js"></script>
<script type="text/javascript" src="/publiccdnlib/es6-Promise/es6-promise.auto.js"></script> 
<script type="text/javascript" src="/publiccdnlib/fetch/fetch.min.js"></script>
<script type="text/javascript" src="/publiccdnlib/bootstrap3/js/bootstrap.min.js"></script>


<!-- End loading scripts -->

<style>
    .appContainer {
        width: 480px;
        margin: auto;      
    }

    .panel-default>.panel-heading {
        background-color: #e6f2fa;
        
        text-align:left;        
    }

    .panel-default>.panel-heading>.panel-title {
        font-weight: bold;
        color: #5e6a71;
        width:100%;
    }

    .panel-heading .accordion-toggle:after {
        font-family: 'Glyphicons Halflings';
        content: "\e113";    
        float: right;        
        color: grey;         
    }
    .panel-heading .accordion-toggle.collapsed:after {
        content: "\e114";    
    }


</style>

<div id="app" class="appContainer">
    <h3>General Ledger</h3>
    <div class="panel-group" id="accordion" role="tablist">
        <div class="panel panel-default" v-for="(folder, index) in srtedGLFolders" :key="folder.name">
            <div class="panel-heading" role="tab">
                <h4 class="panel-title">
                    <a  role="button"  
                        class="accordion-toggle collapsed"
                        data-toggle="collapse" 
                        data-parent="#accordion" 
                        :href="'#'+(folder.name).replace(/\s+/g, '')"
                    >
                    {{ folder.name }}
                    </a>
                </h4>
            </div>
            <div :id="(folder.name).replace(/\s+/g, '')" 
                 class="panel-collapse collapse" 
            >
                <div class="panel-body" v-for="file in folder.files" :key="file.name">
                    <a :href="file.url" target="_blank">{{ file.name }}</a>
                </div>
            </div>
        </div>  
    </div>
    <h3>Accounts Payable</h3>
    <div class="panel-group" id="accordion" role="tablist">
        <div class="panel panel-default" v-for="(folder, index) in srtedAPFolders" :key="folder.name">
            <div class="panel-heading" role="tab">
                <h4 class="panel-title">
                    <a  role="button"  
                        class="accordion-toggle collapsed"
                        data-toggle="collapse" 
                        data-parent="#accordion" 
                        :href="'#'+(folder.name).replace(/\s+/g, '')"
                    >
                    {{ folder.name }}
                    </a>
                </h4>
            </div>
            <div :id="(folder.name).replace(/\s+/g, '')" 
                 class="panel-collapse collapse" 
            >
                <div class="panel-body" v-for="file in folder.files" :key="file.name">
                    <a :href="file.url" target="_blank">{{ file.name }}</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/sites/AgencyAccountingServices/SiteAssets/Accordion/app.js?v=12.12"></script>
<script>
</script>